* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  max-width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #5e5e5e; }

body {
  background: url(../img/body-bg.png) no-repeat top left;
  background-size: cover; }

/* NAVIGATION BAR */
nav {
  max-height: auto; }

.navbar div {
  padding: 0.5rem 1rem; }

.navbar .navbar-toggler {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: -15px; }

.header__logo {
  height: 4rem; }
  .header__logo img {
    height: 100%; }

.dropdown-menu {
  min-width: 200px;
  background: url(../img/body-bg.png) no-repeat top left;
  background-size: cover; }

.dropdown-item {
  transition: ease-in 0.2s;
  transition: ease-out 0.5s; }
  .dropdown-item:hover {
    color: #ffffff;
    background-color: #a9bf04;
    text-transform: uppercase; }

/* LANDING */
.landingHome {
  width: 100vw;
  height: 100vh;
  background: url("../img/bannerIndex.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 15px #A9BF04; }
  .landingHome .landing__inner {
    padding-top: 10%; }

.landingContact {
  background: url("../img/bannerContact.jpg") no-repeat top center;
  background-size: cover; }

.landingActividades {
  background: url("../img/bannerActividades.jpg") no-repeat top left;
  background-size: cover; }

.landingOutdoorTips {
  background: url("../img/bannerOutdoorTips.jpg") no-repeat top left;
  background-size: cover; }

.landingReservas {
  background: url("../img/bannerReservas.jpg") no-repeat top center;
  background-size: cover; }

.landingPages {
  width: 100%;
  height: 20rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 15px #A9BF04; }

.landing__inner {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right; }

.landing__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.landing__contentLogo {
  margin-top: 6rem;
  width: 50%;
  max-height: 50vh;
  object-fit: contain; }

.landing__contentLogo--Pages {
  margin-top: 6rem;
  max-height: 10rem;
  object-fit: cover;
  opacity: 60%; }

.landing__contentText {
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 0px 0px 10px rgba(50, 50, 50, 0.603);
  padding: 20px;
  font-size: 2rem; }

/* Media queries */
@media screen and (min-width: 500px) {
  .landing__contentText {
    font-size: 3rem; } }

@media screen and (min-width: 768px) {
  .landing__contentLogo {
    width: 50%; }
  .landing__contentText {
    font-size: 4rem; } }

@media screen and (max-height: 530px) and (max-width: 1200px) {
  .landing__contentText {
    display: none; }
  .landing__contentLogo {
    margin-top: 6rem;
    width: 100%;
    max-height: 50vh;
    object-fit: contain; } }

/* FOOTER */
footer {
  padding: 20px;
  background: linear-gradient(#0388A6, transparent); }
  footer .footer__links {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
    footer .footer__links a {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.4);
      font-size: 2rem;
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      opacity: .2;
      transition: ease-in .2s;
      transition: ease-out .5s; }
      footer .footer__links a:hover {
        opacity: 1; }
  footer .fa-instagram:hover {
    color: #C13584; }
  footer .fa-facebook:hover {
    color: #2956a3; }
  footer .fa-facebook-messenger:hover {
    color: #0076b8; }
  footer .fa-whatsapp:hover {
    color: #25D366; }
  footer .fa-at:hover {
    color: red; }
  footer .footer__contactText a {
    transition: ease-in .2s;
    transition: ease-out .5s; }
    footer .footer__contactText a:hover {
      color: white;
      text-shadow: 0 0 10px black; }
  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small; }
    footer .copyright a {
      transition: ease-in .2s;
      transition: ease-out .5s; }
      footer .copyright a:hover {
        color: white;
        text-shadow: 0 0 10px black; }

/* Media queries */
@media screen and (min-width: 768px) {
  .footer__contactText {
    text-align: right; } }

/* GREETING SECTION */
.greeting {
  display: block;
  margin: 50px 0 50px 0;
  padding: 50px 0 50px 0;
  background-color: #0388a66c; }
  .greeting .greeting__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px; }
    .greeting .greeting__text h1 {
      font-size: 4rem;
      text-shadow: 3px 3px 6px white;
      font-family: 'Bebas Neue', cursive; }
    .greeting .greeting__text h3 {
      text-shadow: 2px 2px 3px white; }

/* Media queries */
@media screen and (min-width: 768px) {
  .greeting {
    margin: 100px 0 100px 0;
    background-color: #0388a6b8; }
    .greeting .greeting__text h1 {
      font-size: 6rem; } }

/* HOME - WELCOME */
.main__welcome {
  padding: 50px 10% 100px 10%;
  display: flex;
  justify-content: center;
  text-align: center; }

.main__welcomeText {
  background-color: #f23105;
  padding: 5%;
  display: grid;
  grid-template-rows: 1fr, 3fr;
  justify-content: center;
  border-radius: 30px 0 30px;
  box-shadow: 0 0 10px black; }

/* Media queries */
@media screen and (min-width: 768px) {
  .main__welcomeText {
    background-color: #f2310595;
    border-radius: 50px 0 50px; } }

/* HOME - WELCOME CAROUSEL */
.main__welcomeCarousel {
  height: auto;
  display: grid;
  align-items: center;
  padding: 1rem 0 1rem 0;
  box-shadow: 0 0 10px grey; }

@keyframes carousel-slide {
  0% {
    transform: translateX(0%); }
  6.25% {
    transform: translateX(-10%); }
  12.5% {
    transform: translateX(-20%); }
  18.75% {
    transform: translateX(-30%); }
  25% {
    transform: translateX(-40%); }
  31.25% {
    transform: translateX(-50%); }
  37.5% {
    transform: translateX(-60%); }
  43.75% {
    transform: translateX(-70%); }
  50% {
    transform: translateX(-80%); }
  56.25% {
    transform: translateX(-70%); }
  62.5% {
    transform: translateX(-60%); }
  68.75% {
    transform: translateX(-50%); }
  75% {
    transform: translateX(-40%); }
  81.25% {
    transform: translateX(-30%); }
  87.5% {
    transform: translateX(-20%); }
  93.75% {
    transform: translateX(-10%); }
  100% {
    transform: translateX(0%); } }

.carouselHome {
  display: grid;
  grid-template-rows: 1fr;
  overflow-x: hidden; }
  .carouselHome input {
    display: none; }
  .carouselHome label {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .25rem;
    display: inline-block;
    width: .75rem;
    height: .75rem; }

.slides {
  padding: 0;
  margin: 0;
  /* 100% por cada slide */
  width: 1000%;
  display: flex;
  flex-direction: row;
  list-style: none;
  transition: transform 1s ease-in-out;
  animation: carousel-slide infinite ease-in-out 60s; }

.slideHome {
  width: 50vw;
  height: 100%;
  object-fit: cover; }

/* HOME - MAIN CONTENT */
.main__contentAbout {
  border-radius: 30px 0 30px;
  box-shadow: 0 0 10px black;
  background-color: #0388a66c;
  box-shadow: 0 0 15px #f2310545;
  margin: 10px; }
  .main__contentAbout img {
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 0;
    box-shadow: 3px 3px 8px black; }

.main__contentAboutItem {
  padding: 20px;
  display: block; }

/* Media queries */
@media screen and (min-width: 768px) {
  .main__welcomeText {
    font-size: 120%; }
    .main__welcomeText h2 {
      font-size: 2rem; }
  .main__welcomeText .main__contentAboutItem1Img {
    grid-area: main__contentAboutItem1Img; }
  .main__contentAboutItem1Text {
    grid-area: main__contentAboutItem1Text; }
  .main__contentAboutItem2Img {
    grid-area: main__contentAboutItem2Img; }
  .main__contentAboutItem2Text {
    grid-area: main__contentAboutItem2Text;
    text-align: right; }
  .main__contentAboutItem3Img {
    grid-area: main__contentAboutItem3Img; }
  .main__contentAboutItem3Text {
    grid-area: main__contentAboutItem3Text; }
  .main__contentAbout {
    max-height: auto;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none; }
    .main__contentAbout img {
      border-radius: 50px 0 50px;
      box-shadow: 0 0 10px #A9BF04; }
  .main__contentAbout1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "main__contentAboutItem1Img   main__contentAboutItem1Text"; }
  .main__contentAbout2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "main__contentAboutItem2Text   main__contentAboutItem2Img"; }
  .main__contentAbout3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "main__contentAboutItem3Img   main__contentAboutItem3Text"; }
  .main__contentAboutItem {
    align-content: center; }
    .main__contentAboutItem ul li {
      list-style: disc; } }

@media screen and (min-width: 1200px) {
  .main__welcomeText {
    font-size: 150%; }
    .main__welcomeText h2 {
      font-size: 3rem; }
  .main__content {
    margin-top: 50px;
    margin-bottom: 30px; }
  .main__contentAbout {
    font-size: 120%;
    margin: 20px; }
    .main__contentAbout h4 {
      font-size: 2rem; } }

/*  CONTACT  */
.main__contact {
  display: flex;
  flex-direction: column; }

.contact__extraInfo {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  .contact__extraInfo div {
    margin: 15px;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr, 3fr;
    justify-content: center;
    border-radius: 30px 0 30px;
    box-shadow: 0 0 10px black; }
    .contact__extraInfo div a {
      text-shadow: 0 0 1px black; }
  .contact__extraInfo h2 {
    margin-bottom: 15px; }

/* CONTACT FORM */
fieldset {
  border: none; }

.contact__form {
  display: grid;
  justify-content: center;
  align-items: center; }
  .contact__form h2 {
    text-align: center;
    margin-bottom: 1rem; }

.contact__formInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .contact__formInput input {
    margin: 10px;
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem; }

.contact__formCheckbox {
  display: flex;
  flex-direction: column; }

.contact__formCheckboxItem {
  padding: 10px; }

.contact__formMessage--buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .contact__formMessage--buttons .boton, .contact__formMessage--buttons .boton-enviar, .contact__formMessage--buttons .boton-reset {
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    transition: .1s ease-in;
    transition: .3s ease-out; }
    .contact__formMessage--buttons .boton:hover, .contact__formMessage--buttons .boton-enviar:hover, .contact__formMessage--buttons .boton-reset:hover {
      background-color: transparent;
      color: black;
      box-shadow: 0 0 5px black;
      cursor: pointer; }
    .contact__formMessage--buttons .boton-enviar {
      background-color: #0388A695; }
    .contact__formMessage--buttons .boton-reset {
      background-color: #f2310595; }

.GoogleMaps {
  padding: 25px;
  display: flex;
  justify-content: center; }
  .GoogleMaps h4 {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center; }

/* Media queries */
@media screen and (min-width: 768px) {
  .main__contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .contact__extraInfo {
    justify-content: flex-start;
    margin: 30px;
    padding: 0; }
    .contact__extraInfo div {
      margin: 25px;
      padding: 8%;
      border-radius: 50px 0 50px; }
      .contact__extraInfo div a {
        font-size: 1.1rem; }
  .contact__form {
    margin: 25px; } }

@media screen and (min-width: 1200px) {
  .contact__extraInfo {
    margin-top: 50px; }
  .GoogleMaps {
    margin-bottom: 30px; } }

/* ACTIVIDADES */
.main__content--Actividades {
  display: flex;
  flex-direction: column; }
  .main__content--Actividades .card {
    background-color: #0388a66c;
    margin: 3%;
    padding: 5px;
    max-width: 90%; }
    .main__content--Actividades .card h2 {
      font-size: 1.6rem; }
    .main__content--Actividades .card h4 {
      font-size: 1.2rem; }
    .main__content--Actividades .card .carousel {
      width: auto; }

.btn-primary {
  background-color: #a9bf04;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  color: black; }
  .btn-primary:hover {
    background-color: transparent;
    border: 2px solid transparent;
    text-shadow: 0 0 15px black;
    box-shadow: 0 0 10px transparent;
    color: white; }

/* Media queries */
@media screen and (min-width: 768px) {
  .main__content--Actividades {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 1200px) {
  .main__content--Actividades {
    margin: 50px; }
    .main__content--Actividades .card {
      margin: 30px; } }

/* RESERVAS */
.reservas h2 {
  margin-bottom: 15px; }

.reservas div {
  margin: 15px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px 0 30px;
  box-shadow: 0 0 10px black; }
  .reservas div a {
    text-shadow: 0 0 1px black; }

/* Tambien aplican en Contact */
.balloon--giftCards {
  background-color: #a9bf049d; }

.balloon--booking {
  background-color: #f23105b1; }

/* Media queries */
@media screen and (min-width: 768px) {
  .reservas {
    justify-content: flex-start;
    margin: 10px;
    padding: 0; }
    .reservas div {
      margin: 25px;
      padding: 8%;
      border-radius: 50px 0 50px; }
      .reservas div a {
        font-size: 1.1rem; }
  /* Tambien aplican en Contact */
  .balloon--giftCards {
    background-color: #a9bf0452; }
  .balloon--booking {
    background-color: #f2310560; } }

@media screen and (min-width: 1200px) {
  .reservas {
    margin: 50px; }
  .reservas div {
    margin: 50px; }
    .reservas div h2 {
      font-size: 2rem; }
    .reservas div p {
      font-size: 1.2rem; } }

/* OUTDOOR TIPS */
.accordion-item {
  background-color: #a9bf0412; }

.accordion-button.collapsed {
  box-shadow: none;
  background-color: #a9bf0412; }

.accordion-button:not(.collapsed) {
  background-color: #f2310567;
  color: black;
  box-shadow: none; }

.accordion-body {
  max-height: 75vh; }

.carouselTips {
  max-width: 90vw; }

.img-fluid {
  max-height: 70vh;
  max-width: 100%; }
