
/* FOOTER */

footer {
  padding: 20px;
  background: linear-gradient(#0388A6, transparent);

  .footer__links {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.4);
      font-size: 2rem;
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      align-items: center;
      opacity: .2;
      transition: ease-in .2s;
      transition: ease-out .5s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer__contactText a {
    transition: ease-in .2s;
    transition: ease-out .5s;

    &:hover {
      color: white;
      text-shadow: 0 0 10px black;
    }
  }
}

/* Media queries */

@media screen and (min-width: 768px) {
  .footer__contactText {
    text-align: right;
  }
}

/* BODY CONTENT */

