* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

body {
  background: url(../img/body-bg.png) no-repeat top left;
  background-size: cover;
}