/* NAVIGATION BAR */
nav {
  max-height: auto;
}

.navbar div {
  padding: 0.5rem 1rem;
}

.header__logo {
  height: 4rem;
}

.header__logo img {
  height: 100%;
}

.dropdown-menu {
  min-width: 200px;
  background: url(../img/body-bg.png) no-repeat top left;
  background-size: cover;
}


.dropdown-item {
  transition: ease-in 0.2s;
  transition: ease-out 0.5s;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: #a9bf04;
  text-transform: uppercase;
}
